page-home{
  .b{
    height: 100%; width: 49%; float: left;
  }
  .mover{
    background-color: black; height: 100%; width: .5%; float: left;
    cursor: col-resize;
  }
  ol li{
    list-style-type: none;
    //color:blue;
  }
}